Repository CartoDB/analytics-toolbox-core, pull requests merged in 2022-09, with the labels that each got.

#320 set precision of TWKB to 5 and fix doc in formatters
  clouds/databricks/CHANGELOG.md
  clouds/databricks/libraries/scala/core/src/test/scala/com/carto/analyticstoolbox/modules/index/STIndexSpec.scala
  clouds/databricks/libraries/scala/jts/src/main/scala/com/carto/hiveless/spatial/util/TWKBUtils.scala
  clouds/databricks/modules/doc/constructors/ST_MAKEBBOX.md
  clouds/databricks/modules/doc/constructors/ST_MAKEBOX2D.md
  clouds/databricks/modules/doc/constructors/ST_MAKEPOINT.md
  clouds/databricks/modules/doc/constructors/ST_POINT.md
  clouds/databricks/modules/doc/formatters/ST_ASLATLONTEXT.md
  clouds/databricks/modules/doc/formatters/ST_ASTEXT.md
  clouds/databricks/modules/doc/indexing/ST_GEOMREPROJECT.md
  clouds/databricks/modules/test/constructors/test_ST_MAKEBBOX.py
  clouds/databricks/modules/test/constructors/test_ST_MAKEBOX2D.py
  clouds/databricks/modules/test/constructors/test_ST_MAKELINE.py
  clouds/databricks/modules/test/constructors/test_ST_MAKELINE_x.py
  clouds/databricks/modules/test/constructors/test_ST_MAKEPOINT.py
  clouds/databricks/modules/test/constructors/test_ST_MAKEPOINTM.py
  clouds/databricks/modules/test/constructors/test_ST_POINT.py
  clouds/databricks/modules/test/indexing/test_ST_GEOMREPROJECT.py
  clouds/databricks/modules/test/parsers/test_ST_BOX2DFROMGEOHASH.py
  clouds/databricks/modules/test/parsers/test_ST_GEOMETRYFROMTEXT.py
  clouds/databricks/modules/test/parsers/test_ST_GEOMFROMGEOHASH.py
  clouds/databricks/modules/test/parsers/test_ST_POINTFROMGEOHASH.py
  clouds/databricks/modules/test/transformations/test_ST_BUFFERPOINT.py
  clouds/databricks/modules/test/transformations/test_ST_SIMPLIFY.py
  clouds/databricks/modules/test/transformations/test_ST_SIMPLIFYPRESERVETOPOLOGY.py
Labels: databricks

#296 H3_COVERINGCELLIDS and S2_CENTER
  clouds/bigquery/libraries/javascript/src/s2.js
  clouds/bigquery/libraries/javascript/test/index.test.js
  clouds/bigquery/modules/doc/h3/_H3_COVERINGCELLIDS.mdx
  clouds/bigquery/modules/doc/s2/S2_CENTER.md
  clouds/bigquery/modules/sql/h3/_H3_COVERINGCELLIDS.sql
  clouds/bigquery/modules/sql/s2/S2_CENTER.sql
  clouds/bigquery/modules/test/h3/_H3_COVERINGCELLIDS.test.js
  clouds/bigquery/modules/test/s2/S2_CENTER.test.js
  clouds/bigquery/version
  modules/h3/bigquery/Makefile
  modules/h3/bigquery/doc/H3_COVERINGCELLIDS.md
  modules/h3/bigquery/sql/H3_COVERINGCELLIDS.sql
  modules/h3/bigquery/test/integration/H3_COVERINGCELLIDS.test.js
  modules/s2/bigquery/doc/S2_CENTER.md
  modules/s2/bigquery/lib/index.js
  modules/s2/bigquery/sql/S2_CENTER.sql
  modules/s2/bigquery/test/integration/S2_CENTER.test.js
Labels: bigquery

#317 Feature/sc 253631/add databricks code structure in analytics
  .github/workflows/databricks.yml
  clouds/databricks/.env.template
  clouds/databricks/CHANGELOG.md
  clouds/databricks/Makefile
  clouds/databricks/README.md
  clouds/databricks/libraries/scala/Makefile
  clouds/databricks/libraries/scala/build.sbt
  clouds/databricks/libraries/scala/core/src/main/scala/com/carto/analyticstoolbox/modules/index/ST_PartitionCentroid.scala
  clouds/databricks/libraries/scala/core/src/main/scala/com/carto/analyticstoolbox/modules/index/ST_Z2LatLon.scala
  clouds/databricks/libraries/scala/core/src/main/scala/com/carto/analyticstoolbox/modules/index/package.scala
  clouds/databricks/libraries/scala/core/src/main/scala/com/carto/analyticstoolbox/modules/package.scala
  clouds/databricks/libraries/scala/core/src/main/scala/com/carto/analyticstoolbox/modules/predicates/ST_Contains.scala
  clouds/databricks/libraries/scala/core/src/main/scala/com/carto/analyticstoolbox/modules/predicates/ST_Intersects.scala
  clouds/databricks/libraries/scala/core/src/test/scala/com/carto/analyticstoolbox/modules/accessors/ST_XTest.scala
  clouds/databricks/modules/Makefile
Labels: databricks

#323 change default compression to snappy in databricks optimized tables
  clouds/databricks/CHANGELOG.md
  clouds/databricks/libraries/scala/core/src/main/scala/com/carto/analyticstoolbox/spark/spatial/OptimizeSpatial.scala
Labels: databricks

#322 Review ded workflow variables
  .github/workflows/bigquery-ded.yml
  .github/workflows/postgres-ded.yml
  .github/workflows/redshift-ded.yml
  .github/workflows/snowflake-ded.yml
Labels: dedicated_bigquery, dedicated_snowflake, dedicated_redshift

#326 add version core function
  clouds/databricks/CHANGELOG.md
  clouds/databricks/common/python_utils/create_drop_functions.py
  clouds/databricks/libraries/scala/build.sbt
  clouds/databricks/libraries/scala/core/src/main/resources/sql/createUDFs.sql
  clouds/databricks/libraries/scala/project/plugins.sbt
  clouds/databricks/modules/sql/.sqlfluffignore
  clouds/databricks/modules/sql/product/VERSION_CORE.sql
Labels: databricks

#327 Replace SF_SCHEMA in test queries
  clouds/snowflake/common/test-utils.js
Labels: snowflake

#329 Use PG_SCHEMA to load/drop tables in test utils
  clouds/postgres/common/test_utils/__init__.py
Labels: postgres
