Repository CartoDB/analytics-toolbox-core, pull requests merged in 2024-01, with the labels that each got.

#461 fix(bq,sf,rs,pg|quadbin): improve precision of long lat conversion near the latitude limits
  .github/workflows/redshift-ded.yml
  clouds/bigquery/modules/sql/quadbin/QUADBIN_FROMLONGLAT.sql
  clouds/bigquery/modules/sql/quadbin/QUADBIN_POLYFILL.sql
  clouds/bigquery/modules/test/quadbin/QUADBIN_FROMLONGLAT.test.js
  clouds/postgres/modules/sql/quadbin/QUADBIN_FROMLONGLAT.sql
  clouds/postgres/modules/test/quadbin/test_QUADBIN_FROMLONGLAT.py
  clouds/redshift/libraries/python/requirements.txt
  clouds/redshift/modules/test/quadbin/test_QUADBIN_FROMLONGLAT.py
  clouds/snowflake/modules/sql/quadbin/QUADBIN_FROMLONGLAT.sql
  clouds/snowflake/modules/test/quadbin/QUADBIN_FROMLONGLAT.test.js
Labels: dedicated_redshift

#469 feat(bq|transformations): Point on surface functionality for BQ
  clouds/bigquery/libraries/javascript/src/transformations.js
  clouds/bigquery/modules/doc/transformations/ST_POINTONSURFACE.md
  clouds/bigquery/modules/sql/transformations/ST_POINTONSURFACE.sql
  clouds/bigquery/modules/test/transformations/ST_POINTONSURFACE.test.js
Labels: enhancement, bigquery

#470 feat(sf|transformations): Point on surface functionality for SF
  clouds/snowflake/libraries/javascript/libs/transformations_center.js
  clouds/snowflake/modules/doc/transformations/ST_POINTONSURFACE.md
  clouds/snowflake/modules/sql/transformations/ST_POINTONSURFACE.sql
  clouds/snowflake/modules/test/transformations/ST_POINTONSURFACE.test.js
Labels: enhancement, snowflake
